HOST: "0.0.0.0"
HOSTNAME: "myc-api.localhost"
PORT: 1325
BASEURL: "http://myc-api.localhost"
SERVERURI: "https://localhost:1325"
SENTRY: "https://44760870f1944b6897acf28ed2d2355e@o913183.ingest.sentry.io/4504122224607232"
ENVIRONMENT: "localE"
RELEASE: "localE"
TRACESSAMPLERATE: "1.0"
DBPOSTGRES: "postgres://postgres:postgres@localhost:5430/postgres?sslmode=disable"
DBMAXIDLECONNS: "1"
DBMAXOPENCONNS: "0"
DBLOGGER: "false"
QUEUEHOST: "0.0.0.0"
QUEUEPORT: "6379"
QUEUECONCURRENCY: "15"
POSTMARKTOKEN: "fakeMailerToken"
SMTPHOST: "localhost"
SMTPPORT: "25"
SMTPNETWORK: "tcp"
SMTPFROM: "no-reply@mycircutor.com"
TEMPLATEFOLDER: "business/template/"
SECRETKEY: "fancysecretkey"